// =============================================================================
// Copyright (c) 2026 KritvaOS
// SPDX-License-Identifier: Apache-2.0
//
// File        : <filename>
// Description : <short description>
//
// Component   : <component>
// Module      : Hardware Description
// Layer       : Platform
//
// Hardware    : <board/platform>
// Requirements: <requirement IDs>       // Optional
//
// Author      : <team/name>
// Created     : DD-MM-YYYY
// =============================================================================
