//==============================================================================
// Copyright (c) 2026 KritvaOS
// SPDX-License-Identifier: Apache-2.0
//
// File        : <filename>
// Description : <short description>
//
// Component   : <component>
// Module      : <module>
// Layer       : RTL
//
// Interface   : <interface/protocol>   // Optional
// Requirements: <requirement IDs>      // Optional
// API         : <interface/specification> // Optional
//
// Author      : <team/name>
// Created     : DD-MM-YYYY
//==============================================================================
